.techs {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.techs__container {
  margin: 0;
  padding: 100px 70px 0 70px;
  min-height: 525px;
  background-color: #272727;
}

.techs__title {
  margin: 0;
  padding: 0 0 22px 0;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #dadada;
}

.techs__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.techs__info-title {
  margin: 0;
  padding: 90px 0 25px 0;
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

.techs__info-subtitle {
  margin: 0;
  padding: 0;
  max-width: 460px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
  text-align: center;
}

.techs__list {
  margin: 0;
  padding: 100px 0 0 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
}

.techs__list-item {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background-color: #303030;
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 900px) {
  .techs__container {
    padding: 87px 50px 0 50px;
    min-height: 475px;
  }

  .techs__info-title {
    padding-top: 80px;
  }

  .techs__info-subtitle {
    font-size: 12px;
    line-height: 18px; /* 150% */
    letter-spacing: -0.48px;
  }

  .techs__list {
    padding-top: 80px;
    gap: 10px;
  }

  .techs__list-item {
    font-size: 12px;
    letter-spacing: -0.48px;
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 420px) {
  .techs__container {
    min-height: 651px;
    padding: 90px 18px 0 18px;
    background-color: #202020;
  }

  .techs__title {
    padding-bottom: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;

    border-bottom: 1px solid #000;
  }

  .techs__info-title {
    padding-top: 48px;
    padding-bottom: 13px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .techs__info-subtitle {
    font-size: 11px;
    line-height: 16px; /* 145.455% */
    letter-spacing: -0.44px;
  }

  .techs__list {
    padding: 50px 53px 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 0px;
    justify-items: end;
  }
}
