.aboutMe {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutMe__container {
  margin: 0;
  padding: 110px 70px 0 70px;
  background-color: #202020;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.aboutMe__info {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aboutMe__info-text {
  display: flex;
  flex-direction: column;
}
.aboutMe__info-title {
  margin: 0;
  padding: 0 0 22px 0;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #dadada;
}

.aboutMe__info-name {
  margin: 0;
  padding: 65px 0 0 0;
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}
.aboutMe__info-subtitle {
  margin: 0;
  padding: 20px 0 0 0;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.aboutMe__info-description {
  margin: 0;
  padding: 25px 0 0 0;
  max-width: 600px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.aboutMe__info-link {
  margin: 0;
  padding: 100px 0 0 0;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.aboutMe__info-link:hover {
  opacity: 0.699999988079071;
}

.aboutMe__info-photo {
  margin: 65px 0 0 0;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
  .aboutMe__container {
    padding: 93px 50px 0 50px;
  }

  .aboutMe__info-name {
    font-size: 40px;
    line-height: 40px; /* 100% */
    letter-spacing: -1.6px;
  }
  .aboutMe__info-subtitle {
    padding-top: 17px;
    font-size: 12px;
    line-height: 18px;
  }

  .aboutMe__info-description {
    max-width: 364px;
    font-size: 12px;
    padding-top: 20px;
    line-height: 18px;
  }
  .aboutMe__info-link {
    padding-top: 88px;
  }
  .aboutMe__info-photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 730px) {
  .aboutMe__info-description {
    padding-right: 20px;
  }
  .aboutMe__info-photo {
    width: 225px;
    height: 282px;
  }
  .aboutMe__info-description {
    text-align: left;
  }
}
@media screen and (max-width: 530px) {
  .aboutMe__info {
    flex-direction: column-reverse;
    align-items: center;
  }
  .aboutMe__info-text {
    align-items: center;
  }
}
@media screen and (max-width: 380px) {
  .aboutMe__container {
    padding: 0px 15px 0 13px;
  }

  .aboutMe__info-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 27px;
  }

  .aboutMe__info {
    flex-direction: column-reverse;
  }

  .aboutMe__info-photo {
    margin-top: 60px;
    width: 292px;
    height: 352px;
  }
  .aboutMe__info-name {
    padding-top: 38px;
    font-size: 30px;
    letter-spacing: -1.2px;

  }
  .aboutMe__info-subtitle {
    font-size: 11px;
    line-height: 16px;
    padding-top: 18px;
  }

  .aboutMe__info-description {
    font-size: 11px;
    line-height: 16px;
    padding-right: 5px;
    text-align: left;
  }
  .aboutMe__info-link {
    padding-top: 40px;
  }


  .aboutMe__info-text {
    align-items: start;
  }

}
